// Forms-editor.less
// CSS for editor textarea
// -----------------------

.editor {
  .box-sizing(border-box);
  height: 100px;
  width: 100%;
  padding: 5px;
}
.uneditable-textarea.editor-html {
  white-space: normal;
  padding: 5px 3px 5px 5px;
}
textarea.editor-html {
  visibility: hidden; // Assume it will be replaced
}
